In [3]:
import pandas as pd
data = pd.read_csv("heart.csv")

In [7]:
# a) Describe the dataset
data.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [15]:
#Find the mean, median, mode, variance and standard deviation of the dataset using the suitable libraries.
print(f"Mean of Age: {data['Age'].mean()}")
print(f"Median of Age: {data['Age'].median()}")
print(f"Mode of Age: {data['Age'].mode()}")
print(f"Variance of Age: {data['Age'].var()}")
print(f"Standard Deviation of Age: {data['Age'].std()}")

Mean of Age: 54.43894389438944
Median of Age: 56.0
Mode of Age: 0    58
Name: Age, dtype: int64
Variance of Age: 81.69741874849738
Standard Deviation of Age: 9.038662442446746